# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
server/node_modules
/.pnp
.pnp.js

# testing
client/coverage

# production
client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
/server/util/*.log
/server/python-server.log
node_modules
client/src/App.js
client/src/index.js
client/src/components/Login.js
client/src/components/layout/Header.js
client/src/components/pages/CourseDashboard.js
client/src/components/pages/CreateTutorial.js
client/src/components/pages/Tutorials.js

server/server-logs/*
server/.env
