.cell-btns {
  display: flex;
  justify-content: flex-end;
  padding-top: 1em;
}

#codemirror-settings-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.codemirror-select {
  padding-left: 0.2em;
  padding-top: 0.2em;
  padding-right: 0.2em;
}

.code-cell-output {
  display: flex;
  justify-content: space-between;
}
